<nav class="row">
    <ul class="list-unstyled d-flex justify-content-between">
        <li><a class="text-decoration-none fs-3 text-secondary" href="{{ path('app_task') }}">Home</a></li>
        <li><a class="text-decoration-none fs-3 text-secondary" href="{{ path('app_task_add') }}">addTask</a></li>
    </ul>
</nav>
