{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

<div class="row">
    <h1 class="text-center fs-1 text-uppercase text-primary">Task to do</h1>
    <div class="col-4 justify-content-between">
        {% for task in tasks %}
            <article class="alert alert-info">
                <h2>{{ task.name }}</h2>
                <p>{{ task.createdAt|date }}</p>
                <p>{{ task.description }}</p>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
